td{
    text-align: center;
    padding: 10px 15px;
}
thead{
    text-align: center;
    color: white;
    background-color: red;
}
button{
    font-weight: bold;
    padding: 5px 25px;
    cursor: pointer;
    text-align: center;
    color: black;
    background-color: Cornsilk ;
    border-radius: 15px;
}
input{
    padding: 5px;
    border-radius: 15px;
}
select{
    padding: 5px;
    border-radius: 15px;
    width: 100%;
}
#mau{
   background-color: PeachPuff;
}
h1{
	padding-top: 10px;
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 40;
}