body{
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: gray;
}   

/*.header{
    background-color: orange;
    position: fixed;
    width: 75%;
    z-index: 999;
}*/

.container-xl{
    background-color: oldlace;
    display: flex;
    height: 170px;
    width: 850px;
    margin: auto;
}

.container{
    background-color: AntiqueWhite;
    display: flex;
    /*height: 170px;*/
    /*width: 850px;*/
    margin: auto;
}


h1{
    padding: 5px;
}
.card-title {
        color: tomato;
    }
    p{
        color: gray;
    }

h2{
    text-align: center;
    font-weight: bold;
    color: Navy;
}
#anh_tin_tuc{
    display: flex;
    justify-content: center;
}
#anh_sp{
    height: 200px;
}
a{
    text-decoration: none;
}
#card{
    height: 350px;
    background-color: LightCyan;
    border-radius: 3%;
    border-color: green;
}